html {
  box-sizing: border-box;
}

*,*::before, *:: after {
  box-sizing: inherit;
}

.masthead {
  padding-top: 6em;
  background-image: url("../images/beetle.svg"), url("../images/mini-waves.png");
  background-size: 75px auto, 200px auto;
  background-repeat: no-repeat, repeat;
  background-position: center center, left top;
  text-align: center;
}

header {
  background-color: #78543a;
}

.nav {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
  text-align: center;
  color: #512100;
}

.nav a {
  color: #fff;
  display: block;
  padding: 0.75em;
  background-color: #775339;
  color: #fff;
  text-decoration: none;
  text-align: center;
  }

.nav li {
  display: inline-block;
  width: 25%;
  float: left;
}

.nav a:hover {
  background-color: #005f5f;
}
